{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_field %}

{% block title %}Add New Project{% endblock %}

{% block content %}
	<main id="main" class="main">

    <div class="pagetitle">
      <h1>Add New Project</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">My Learning</li>
          <li class="breadcrumb-item active">Add New Project</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<!--	Create Form -->

	 <div class="card">
		<div class="card-body">
		  <h5 class="card-title">Create Project</h5>

		  <!-- Table with hoverable rows -->
			<form method="POST">
				{{ form.csrf_token() }}
				{{ render_field(form.name) }}
				{{ render_field(form.course) }}
				{{ render_field(form.repo, id_="addon") }}
				{{ render_field(form.path, aria-describedby_="addon") }}


			</form>

		</div>
	 </div>
		  <!-- End Table with hoverable rows -->

	</main> <!-- End #main -->
{% endblock %}



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
