{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Add a {{ object }}{% endblock %}

{% block content %}
<div class="container">
	<h1 class="heading">Add a {{ object }}</h1>
</div>

<div class="container">
	{{ render_form(form, novalidate=True) }}
</div>

{% endblock %}




 <div class="row">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add Concept</h5>
              {{ render_form(form, novalidate=True) }}
            </div>
          </div>