{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}API Detail{% endblock %}

{% block content %}
	<main id="main" class="main">

    <div class="pagetitle">
      <h1>{{ api.name }}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Knowledge Center</li>
          <li class="breadcrumb-item"><a href="{{ url_for('apis_page') }}">APIs</a> </li>
		  <li class="breadcrumb-item active">Usage</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<!--		Details-->
		<div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ api.name }}</h5>
				<p><i class="bi bi-info-circle"> {{ api.description }}</i></p>
				<p><i class="bi bi-link-45deg"></i><a href="{{ api.url }}" target="_blank">Go There</a></p>
				<p><i class="bi bi-link-45deg"></i><a href="{{ api.doc_link }}" target="_blank">Go to Docs</a></p>
				<p><i class="bi bi-calendar2-plus">{{ api.date_added }}</i></p>
				<p>{% for concept in api.concepts %} <span class="badge rounded-pill bg-info"> {{ concept.concept_term }} </span> {% endfor %}</p>
				<a href="{{ url_for('update_api', num=api.id) }}">
		  <button type="button" class="btn btn-primary btn-sm"><i class="bi bi-clipboard-plus"></i> Update</button>
			</a>
			<a href="{{ url_for('delete_api', num=api.id) }}">
		  <button type="button" class="btn btn-danger btn-sm"><i class="bi bi-exclamation-triangle"></i> Delete</button>
			</a>

				 </div>
		  </div><!-- End Details -->


<!--	All Projects for Concept Table-->
	 <div class="card">
		<div class="card-body">
		  <h5 class="card-title">Linked Projects</h5>

		  <!-- Table with hoverable rows -->
		  <table class="table table-hover">
			<thead>
			  <tr>
			    <th scope="col">#</th>
				<th scope="col">Project Name</th>
				<th scope="col">Repo</th>
				<th scope="col">Concepts</th>
			  </tr>
			</thead>
			<tbody>
			{% for project in projects %}
			  <tr>
				<th scope="row">{{ project.id }}</th>
				<td><a href="{{ url_for('project_detail', num=project.id) }}">{{ project.name }}</a></td>
				<td>{{ project.repo.name }}</td>
				<td>{% for concept in project.concepts %} <span class="badge rounded-pill bg-primary"> {{ concept.concept_term }} </span> {% endfor %}</td>
			  </tr>
			{% endfor %}
			</tbody>
		  </table>
		</div>
	 </div>
		  <!-- End Table with hoverable rows -->


<!--	All CodeLinks for Concept Table-->
	 <div class="card">
		<div class="card-body">
		  <h5 class="card-title">CodeLinks</h5>

		  <!-- Table with hoverable rows -->
		  <table class="table table-hover">
			<thead>
			  <tr>
			    <th scope="col">#</th>
				<th scope="col">CodeLink</th>
			    <th scope="col">Project</th>
				<th scope="col">Link</th>
				<th scope="col">Concepts</th>
			  </tr>
			</thead>
			<tbody>
			{% for codelink in codelinks %}
			  <tr>
				<th scope="row">{{ codelink.id }}</th>
				<td>{{ codelink.name }}</td>
			    <td>{{ codelink.project.name }}</td>
				<td><a href="{{ codelink.link }}" target="_blank"><i class="bi bi-code-slash"></i></a></td>
				<td>{% for concept in codelink.concepts %} <span class="badge rounded-pill bg-primary"> {{ concept.concept_term }} </span> {% endfor %}</td>
			  </tr>
			{% endfor %}
			</tbody>
		  </table>
		</div>
	 </div>
		  <!-- End Table with hoverable rows -->


<!--	All Resources for Concept Table-->
	 <div class="card">
		<div class="card-body">
		  <h5 class="card-title">Linked Resources</h5>

		  <!-- Table with hoverable rows -->
		  <table class="table table-hover">
			<thead>
			  <tr>
			    <th scope="col">#</th>
				<th scope="col">Resource</th>
			    <th scope="col">Type</th>
				<th scope="col">URL</th>
				<th scope="col">Concepts</th>
			  </tr>
			</thead>
			<tbody>
			{% for resource in resources %}
			  <tr>
				<th scope="row">{{ resource.id }}</th>
				<td>{{ resource.name }}</td>
			    <td><span class="badge {{ resource_badge[resource.type][1] }}"><i class="bi {{ resource_badge[resource.type][2] }} me-1"></i> {{ resource_badge[resource.type][0] }}</span></td>
				<td><a href="{{ resource.resource_url }}" target="_blank"><i class="bi bi-file-earmark-text"></i></a></td>
				<td>{% for concept in resource.concepts %} <span class="badge rounded-pill bg-primary"> {{ concept.concept_term }} </span> {% endfor %}</td>
			  </tr>
			{% endfor %}
			</tbody>
		  </table>
		</div>
	 </div>
		  <!-- End Table with hoverable rows -->

    <section class="section">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Example Card</h5>
              <p>This is an examle page with no contrnt. You can use it as a starter for your custom pages.</p>
            </div>
          </div>
        </div>
    </section>
	</main> <!-- End #main -->
{% endblock %}



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
