{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}APIs{% endblock %}

{% block content %}
	<main id="main" class="main">

    <div class="pagetitle">
      <h1>APIs</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Knowledge Center</li>
          <li class="breadcrumb-item active">APIs</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<!--		Page Description Alert-->
	<div class="alert alert-info  alert-dismissible fade show" role="alert">
		<h4 class="alert-heading">Easily Reference Your Favorite APIs & Their Docs</h4>
		<p>Track APIs you've used or that you've come across that you might want to use later.</p>
 		<p class="mb-0"></p>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
<!--		End Page Description Alert-->

<!--	All APIs Table-->

	 <div class="card">
		<div class="card-body">
		  <h5 class="card-title">My APIs</h5>

		  <!-- Table with hoverable rows -->
		  <table class="table table-hover">
			<thead>
			  <tr>
				<th scope="col">API</th>
				<th scope="col">Description</th>
				<th scope="col">Take Me There</th>
				<th scope="col">Check the Docs</th>
			    <th scope="col">Requires Login?</th>
			  </tr>
			</thead>
			<tbody>
			{% for api in apis %}
			  <tr>
				<td>{{ api.name }}</td>
			    <td><a href="{{ url_for('api_detail', num=api.id ) }}">{{ api.description }}</a></td>
			    <td><a href="{{ api.url }}"><i class="bi bi-link45-deg"></i></a></td>
			    <td><a href="{{ api.doc_link }}"><i class="bi bi-file-earmark-text"></i></a></td>

				<td>{{ api.requires_login }}</td>
				  {% if api.requires_login %}
				<td><i class="bi bi-person-bounding-box"></i></td>
				  {% else %}
				  <td></td>
				  {% endif %}
			  </tr>
			{% endfor %}
			</tbody>
		  </table>
			<a href="{{ url_for('add_new_api') }}">
		  <button type="button" class="btn btn-primary"><i class="bi bi-clipboard-plus"></i> Add API</button>
			</a>
			<a href="{{ url_for('import_apis') }}">
		  <button type="button" class="btn btn-dark"><i class="bi bi-folder"></i> Upload CSV</button>
			</a>
		</div>
	 </div>
		  <!-- End Table with hoverable rows -->


    <section class="section">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Example Card</h5>
              <p>This is an examle page with no contrnt. You can use it as a starter for your custom pages.</p>
            </div>
          </div>
        </div>
    </section>
	</main> <!-- End #main -->
{% endblock %}



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
