{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}CodeLinks{% endblock %}

{% block content %}
	<main id="main" class="main">

    <div class="pagetitle">
      <h1>CodeLinks</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">My Learning</li>
          <li class="breadcrumb-item active">CodeLinks</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<!--		Page Description Alert-->
	<div class="alert alert-info  alert-dismissible fade show" role="alert">
		<h4 class="alert-heading">Build the Ultimate Code Reference with CodeLinks</h4>
		<p>Track code examples for quick reference to function use, library use, and much more</p>
		<hr>
 		<p class="mb-0">Link by line, project, or repository to code you've added to GitHub, so you can find what you've already done with ease.</p>
		<br>
		<p class="mb-0">Tag your CodeLinks with Concepts, so you can easily look at your own code if you need a reference for a something you've done before.</p>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
<!--		End Page Description Alert-->

	<div class="card">
            <div class="card-body">
              <h5 class="card-title">Top Concepts</h5>

              <!-- Top Concepts List group With Badges -->
              <ul class="list-group">
				  {% for concept, count in top_concepts.items() %}
				  <li class="list-group-item d-flex justify-content-between align-items-center">
					  {{ concept }}
                  <span class="badge bg-primary rounded-pill">{{ count }}</span>
                </li>
				  {% endfor %}
              </ul><!-- End Top Concepts List Group -->

            </div>
          </div>


<!--	All CodeLinks Table-->

	 <div class="card">
		<div class="card-body">
		  <h5 class="card-title">My CodeLinks</h5>

		  <!-- Table with hoverable rows -->
		  <table class="table table-hover">
			<thead>
			  <tr>
			    <th scope="col">#</th>
				<th scope="col">CodeLink</th>
			    <th scope="col">Repository</th>
				<th scope="col">Project</th>
			    <th scope="col">Link</th>
				<th scope="col">Concepts</th>
			  </tr>
			</thead>
			<tbody>
			{% for link in codelinks %}
			  <tr>
				<th scope="row">{{ link.id }}</th>
			  	<td>{{ link.name }}</td>
			    <td>{{ link.repo.name }}</td>
				<td>{{ link.project.project_title }}</td>
				  {% if link.link %}
				<td><a href="{{ link.link }}" target="_blank"><i class="bi bi-code-square"></i></a></td>
				  {% else %}
				  <td></td>
				  {% endif %}
				<td>{% for concept in link.concepts %} <span class="badge rounded-pill bg-primary"> {{ concept.concept_term }} </span> {% endfor %}</td>
			  </tr>
			{% endfor %}
			</tbody>
		  </table>
			<a href="{{ url_for('add_new_codelink') }}">
		  <button type="button" class="btn btn-primary"><i class="bi bi-clipboard-plus"></i> Add CodeLink</button>
			</a>
		</div>
	 </div>
		  <!-- End Table with hoverable rows -->


    <section class="section">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Example Card</h5>
              <p>This is an examle page with no contrnt. You can use it as a starter for your custom pages.</p>
            </div>
          </div>
        </div>
    </section>
	</main> <!-- End #main -->
{% endblock %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

