{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Concepts{% endblock %}

{% block content %}
	<main id="main" class="main">

    <div class="pagetitle">
      <h1>Concepts</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">My Learning</li>
          <li class="breadcrumb-item active">Concepts</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


<!--		Page Description Card-->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Tie Your Learning Together with Concepts</h5>
              <p>Track concepts, topics, keywords and more using your Concepts.</p>
			  <p>Concepts can be used like tags to make finding things easy. All packages, libraries, tools, resources, and APIs are automatically created as a Concept, so you can easily find connected Learning.</p>
			  <p>Concepts can also be used to note keywords or concepts you come across that you want to look into later.</p>
            </div>
          </div>

<!--		End Page Description Card-->

		<!--	All Concepts Table-->
	 <div class="card">
		<div class="card-body">
		  <h5 class="card-title">My Concepts</h5>

		  <!-- Table with hoverable rows -->
		  <table class="table table-hover">
			<thead>
			  <tr>
			    <th scope="col">#</th>
				<th scope="col">Concept</th>
				<th scope="col">Category</th>
				<th scope="col">Description</th>
			  </tr>
			</thead>
			<tbody>
			{% for concept in concepts %}
			  <tr>
				<th scope="row">{{ concept.id }}</th>
				<td>{{ concept.concept_term }}</td>
				<td>{{ concept.category }}</td>
				<td>{{ concept.description }}</td>
			  </tr>
			{% endfor %}
			</tbody>
		  </table>
			<a href="{{ url_for('add_new_concept') }}">
		  <button type="button" class="btn btn-primary"><i class="bi bi-clipboard-plus"></i> Add Concept</button>
			</a>
		</div>
	 </div>
		  <!-- End Table with hoverable rows -->

		<!--	Flagged Concepts List Group-->
	<div class="card">
		<div class="card-body">
		  <h5 class="card-title">Flagged Concepts</h5>

		  <!-- List group With Icons -->
		  <ul class="list-group">
			  {% for concept in concepts %}
				<li class="list-group-item"><i class="bi bi-exclamation-octagon me-1 text-warning"></i>{{ concept.concept_term }}</li>
			  {% endfor %}
		  </ul><!-- End List group With Icons -->

		</div>
	  </div>
<!--		End Flagged Concepts-->

  </main><!-- End #main -->
{% endblock %}



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

