{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Concepts{% endblock %}

{% block content %}
	<main id="main" class="main">

    <div class="pagetitle">
      <h1>Concepts</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">My Learning</li>
          <li class="breadcrumb-item active">Concepts</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


<!--		Page Description Card-->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Tie Your Learning Together with Concepts</h5>
              <p>Track concepts, topics, keywords and more using your Concepts.</p>
			  <p>Concepts can be used like tags to make finding things easy. All packages, libraries, tools, resources, and APIs are automatically created as a Concept, so you can easily find connected Learning.</p>
			  <p>Concepts can also be used to note keywords or concepts you come across that you want to look into later.</p>
            </div>
          </div>

<!--		End Page Description Card-->

<!--	Flagged Concepts List Group-->
	<div class="card">
		<div class="card-body">
		  <h5 class="card-title">Flagged Concepts</h5>

		  <!-- List group With Icons -->
		  <ul class="list-group">
			  {% for concept in concepts %}
				<li class="list-group-item"><i class="bi bi-exclamation-octagon me-1 text-warning"></i>{{ concept.concept_term }}</li>
			  {% endfor %}
		  </ul><!-- End List group With Icons -->

		</div>
	  </div>
<!--		End Flagged Concepts-->

  </main><!-- End #main -->
{% endblock %}



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

