{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}{{ course.title }}{% endblock %}

{% block content %}
	<main id="main" class="main">

    <div class="pagetitle">
      <h1>Course Detail</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">My Learning</li>
          <li class="breadcrumb-item">Courses</li>
		  <li class="breadcrumb-item active">{{ course.title }}</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<!--	All Projects for Course Table-->

	 <div class="card">
		<div class="card-body">
		  <h5 class="card-title">{{ course.title }} Projects</h5>

		  <!-- Table with hoverable rows -->
		  <table class="table table-hover">
			<thead>
			  <tr>
			    <th scope="col">#</th>
				<th scope="col">Title</th>
				<th scope="col">Platform</th>
				<th scope="col">Content Hours</th>
				<th scope="col">Cert?</th>
			  </tr>
			</thead>
			<tbody>
			{% for course in courses %}
			  <tr>
				<th scope="row">{{ course.id }}</th>
				<td>{{ course.title }}</td>
				<td>{{ course.platform }}</td>
				<td>{{ course.content_hours }}</td>
				  {% if course.has_cert %}
				<td><i class="bi bi-award"></i></td>
				  {% else %}
				  <td></td>
				  {% endif %}
			  </tr>
			{% endfor %}
			</tbody>
		  </table>
			<a href="{{ url_for('add_new_course') }}">
		  <button type="button" class="btn btn-primary"><i class="bi bi-clipboard-plus"></i> Add Course</button>
			</a>
		</div>
	 </div>
		  <!-- End Table with hoverable rows -->


    <section class="section">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Example Card</h5>
              <p>This is an examle page with no contrnt. You can use it as a starter for your custom pages.</p>
            </div>
          </div>
        </div>
    </section>
	</main> <!-- End #main -->
{% endblock %}



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
