{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Projects{% endblock %}

{% block content %}
<main id="main" class="main">

	<!-- Use Message Flashing to display feedback to the user with a <p> -->

	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class="alert alert-primary alert-dismissible fade show" role="alert">
		{% for message in messages %}
		{% if 'Success' in message %}
		<p class="flash"><i class="bi bi-check-circle me-1"></i>{{ message }}</p>
		{% elif 'skipped' in message %}
		<p class="flash"><i class="bi bi-info-circle me-1"></i>{{ message }}</p>
		{% elif 'quick' in message %}
		<p class="flash"><i class="bi bi-info-circle me-1"></i>{{ message }}</p>
		{% else %}
		<p style="text-indent: 25px;" class="flash"><i class="bi bi-exclamation-octagon me-1"></i>{{ message }}</p>
		{% endif %}
		{% endfor %}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{% endif %}
	{% endwith %}


	<!-- End Flashed Messages -->


	<div class="pagetitle">
		<h1>Projects</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item">My Learning</li>
				<li class="breadcrumb-item active">Projects</li>
			</ol>
		</nav>
	</div><!-- End Page Title -->

<!--	Page Description collapse-->

	<div class="col">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">
					<a href="#collapseTip" data-bs-toggle="collapse" role="button"
					   aria-expanded="false" aria-controls="collapseTip">
						<i class="ri-lightbulb-fill"></i> Organize Your Hard Work with Projects
					</a>
				</h4>
				<div class="collapse" id="collapseTip">
					<p>Track projects you've completed and what repo holds them.</p>
					<hr>
					<p class="mb-0">Tag your projects with Concepts, so you can easily reference examples you've already worked through.</p>
					<br>
					<p class="mb-0">Include Course section and lecture or assignment, that way if you forgot how or why you did something, you can easily find the place you learned it.</p>
				</div>
			</div>
		</div>
	</div>

<!--	End Page Description Toggle-->

	<!--	All Projects Table-->

	<div class="card">
		<div class="card-body">
			<h5 class="card-title">My Projects</h5>

			<!-- Table with hoverable rows -->
			<table class="table table-hover datatable">
				<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Project Name</th>
					<th scope="col">Repo</th>
					<th scope="col">Course</th>
					<th scope="col">Concepts</th>
				</tr>
				</thead>
				<tbody>
				{% for project in projects %}
				<tr>
					<th scope="row">{{ project.id }}</th>
					<td><a href="{{ url_for('project_detail', num=project.id ) }}">{{ project.name }}</a></td>
					<td>{{ project.repo.name }}{% if project.path %}/{{ project.path }}{% endif %} </td>
					<td><a href="{{ url_for('course_detail', num=project.course.id ) }}">{{ project.course.name }}</a>
					</td>
					<td>{% for concept in project.concepts %} <a href="{{ url_for('concept_detail', num=concept.id) }}"> <span
							class="badge rounded-pill bg-primary-subtle text-primary-emphasis"> {{ concept.concept_term }} </span>
					</a>{% endfor %}
					</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
			<a href="{{ url_for('add_new_project', course_id=0) }}">
				<button type="button" class="btn btn-primary"><i class="bi bi-clipboard-plus"></i> Add Project</button>
			</a>
			<a href="{{ url_for('import_projects') }}">
				<button type="button" class="btn btn-dark"><i class="bi bi-folder"></i> Upload CSV</button>
			</a>
		</div>
	</div>
	<!-- End Table with hoverable rows -->


	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Top Concepts</h5>

			<!-- Top Concepts List group With Badges -->
			<ul class="list-group">
				{% for concept, count in top_concepts.items() %}
				<li class="list-group-item d-flex justify-content-between align-items-center">
					{{ concept }}
					<span class="badge bg-primary rounded-pill">{{ count }}</span>
				</li>
				{% endfor %}
			</ul><!-- End Top Concepts List Group -->

		</div>
	</div>


</main> <!-- End #main -->
{% endblock %}

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

