{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Project Detail{% endblock %}

{% block content %}
	<main id="main" class="main">

    <div class="pagetitle">
      <h1>{{ project.title }}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">My Learning</li>
          <li class="breadcrumb-item">Projects</li>
		  <li class="breadcrumb-item active">{{ project.name }}</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

		<div class="card">
            <div class="card-body">
              <h5 class="card-title">Project Details</h5>
					<p>Course: {{ project.course.name }}</p>
					<p>Project Repo: {{ project.repo.name }}</p>
					<p>Section: {{ project.section }}</p>
					<p>Lecture: {{ project.lecture }}</p>
					<p>Link: <a href="{{ project.assignment_link }}" target="_blank">Go to Assignment</a> </p>
					<p>Start: {{ project.start }}</p>
					<p>Complete: {{ project.complete }}</p>
					<p>Description/Parameters: {{ project.description }}</p>
					<p>Date Added: {{ project.date_added }}</p>
              <a href="{{ url_for('update_project', num=project.id) }}">
			  <button type="button" class="btn btn-primary"><i class="bi bi-clipboard-plus"></i> Update Project</button>
			</a>
			<a href="{{ url_for('delete_project', num=project.id) }}">
		  <button type="button" class="btn btn-danger"><i class="bi bi-exclamation-triangle"></i> Delete Project</button>
			</a>
				 </div>
		  </div><!-- End Project Details -->


		<div class="card">
            <div class="card-body">
              <h5 class="card-title">Libraries/APIs Used</h5>

              <!-- Top Concepts List group With Badges -->
              <ul class="list-group">
				  {% for concept in concepts %}
				  {% if concept.category == 'library' or concept.category == 'api' %}
				  <li class="list-group-item d-flex justify-content-between align-items-center">
					  {{ concept.concept_term }}
					  <span class="badge {{ concept_badge[concept.category][1] }}"><i class="bi {{ concept_badge[concept.category][2] }} me-1"></i> {{ concept_badge[concept.category][0] }}</span>
                </li>
				  {% endif %}
				  {% endfor %}
              </ul><!-- End Top Concepts List Group -->

            </div>
          </div>

	<div class="card">
            <div class="card-body">
              <h5 class="card-title">Top Concepts</h5>

              <!-- Top Concepts List group With Badges -->
              <ul class="list-group">
				  {% for concept in concepts %}
				  {% if concept.category != 'library' and concept.category != 'api' %}
				  <li class="list-group-item d-flex justify-content-between align-items-center">
					  {{ concept.concept_term }}
					  {% if concept.category %}
					  <span class="badge {{ concept_badge[concept.category][1] }}"><i class="bi {{ concept_badge[concept.category][2] }} me-1"></i> {{ concept_badge[concept.category][0] }}</span>
					  {% endif %}
                </li>
					{% endif %}
				  {% endfor %}
              </ul><!-- End Top Concepts List Group -->

            </div>
          </div>

<!--	All Projects for Course Table-->
	 <div class="card">
		<div class="card-body">
		  <h5 class="card-title">{{ project.name }} Files</h5>

		</div>
	 </div>
		  <!-- End Table with hoverable rows -->


    <section class="section">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Example Card</h5>
              <p>This is an examle page with no contrnt. You can use it as a starter for your custom pages.</p>
            </div>
          </div>
        </div>
    </section>
	</main> <!-- End #main -->
{% endblock %}



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
