{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Projects{% endblock %}

{% block content %}
	<main id="main" class="main">

    <div class="pagetitle">
      <h1>Projects</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">My Learning</li>
          <li class="breadcrumb-item active">Projects</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

	<!--		Page Description Card-->
	  <div class="card">
		<div class="card-body">
		  <h5 class="card-title">Projects: Where Your Best Reference is You!</h5>
		  <p>Track projects you've completed and what repo holds them.</p>
		  <p>Tag your projects with Concepts, so you can easily look at your own code if you need a reference for a something you've done before.</p>
			<p>Include Course section and lecture or assignment, that way if you forgot how or why you did something, you can easily find the place you learned it.</p>
		</div>
	  </div>

<!--		End Page Description Card-->

<!--	Flagged Concepts List Group -->
	<div class="card">
		<div class="card-body">
		  <h5 class="card-title">Projects</h5>

		  <!-- List group With Icons -->
		  <ul class="list-group">
			  {% for project in projects %}
				<li class="list-group-item"><i class="bi bi-exclamation-octagon me-1 text-warning"></i>{{ project.date_added }}   {{ project.project_title }}</li>
			  {% endfor %}
		  </ul><!-- End List group With Icons -->

		</div>
	  </div>
<!--		End Flagged Concepts-->

  </main><!-- End #main -->
{% endblock %}



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

