{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Resource Library{% endblock %}

{% block content %}
	<main id="main" class="main">

    <div class="pagetitle">
      <h1>Resource Library</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Knowledge Center</li>
          <li class="breadcrumb-item active">Resource Library</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

<!--		Page Description Alert-->
	<div class="alert alert-info  alert-dismissible fade show" role="alert">
		<h4 class="alert-heading">Resources You Won't Have to Live Without</h4>
		<p>Use your Resource Library to track helpful info at a glance, like quick references, cheatsheets, diagrams, templates, and more.</p>
 		<p class="mb-0"></p>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	  </div>
<!--		End Page Description Alert-->

<!--	All Resources Table-->

	 <div class="card">
		<div class="card-body">
		  <h5 class="card-title">My Resources</h5>

		  <!-- Table with hoverable rows -->
		  <table class="table table-hover">
			<thead>
			  <tr>
			    <th scope="col">#</th>
				<th scope="col">Resource</th>
				<th scope="col">Description</th>
				<th scope="col">Type</th>
				<th scope="col">Link</th>
			    <th scope="col">Delete</th>
			    <th scope="col">Update</th>
			  </tr>
			</thead>
			<tbody>
			{% for resource in resources %}
			  <tr>
				<th scope="row">{{ resource.id }}</th>
			  	<td>{{ resource.name }}</td>
				<td>{{ resource.description }}</td>
			    <td><span class="badge {{ badge[resource.type][1] }}"><i class="bi {{ badge[resource.type][2] }} me-1"></i> {{ badge[resource.type][0] }}</span></td>
				<td><a href="{{ resource.resource_url }}" target="_blank"><i class="bi bi-file-earmark-text"></i></a></td>
				<td><a href="{{ url_for('delete_resource', num=resource.id) }}"><i class="bi bi-trash"></i></a></td>
				<td><a href="{{ url_for('update_resource', num=resource.id) }}"><i class="bi bi-input-cursor-text"></i></a></td>
			  </tr>
			{% endfor %}
			</tbody>
		  </table>
			<a href="{{ url_for('add_new_resource') }}">
		  <button type="button" class="btn btn-primary"><i class="bi bi-clipboard-plus"></i> Add Resource</button>
			</a>
			<a href="{{ url_for('import_resources') }}">
		  <button type="button" class="btn btn-dark"><i class="bi bi-folder"></i> Upload CSV</button>
			</a>
		</div>
	 </div>
		  <!-- End Table with hoverable rows -->


	</main> <!-- End #main -->
{% endblock %}



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
